.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

header {
  grid-row: 1;
}
main {
  grid-row: 2;
  width: 100%;
  height: 100%;
}
footer {
  grid-row: 3;
}

.beatpad-parent {
  display: flex;
  flex-direction: column;
}
.beatsteps-input-wrapper {
  display: flex;
}
